<div class="container">
  <form class="form" [formGroup]="flashcardForm" (ngSubmit)="submitFlashcard()">
      <angular-editor id="flashcardEditor" [config]="config" [placeholder]="front" formControlName="basetext" required></angular-editor>
      <angular-editor id="flashcardEditor" [config]="config" [placeholder]="back" formControlName="fliptext" required></angular-editor>
      <div style="display: flex;margin-top: 10px;flex-direction: column;flex-wrap: wrap;align-content: space-around;">
        <input type="text" formControlName="topic" id="topic" placeholder="Thema" required/>
        <input type="text" formControlName="name" id="name" placeholder="Name" required/>
        <button  type="submit" class="send" [disabled]="!flashcardForm.valid">Speichern</button>
      </div>
  </form>
</div>

