<div class="title">
  <h1>Tests</h1>
</div>
<div *ngIf="userData[0].isAdmin">
  <img [routerLink]="['/TestAdminMenu']" style="float: right; color:white;" src="assets/icons/svg/edit.svg" class="filter-white">
  <img [routerLink]="['/TestCreator']" style="float: right; color:white;" src="assets/icons/svg/add.svg" class="filter-white">
</div>
<div class="center" *ngFor="let items of testCardData ;index as i;">
  <div>
    <div *ngIf=" i== 0 ||  items.topic != testCardData[i-1].topic">
      <h1 (click)="selectRandomTestFromTopic(items.topic!)">{{items.topic}}</h1>
    </div>
    <a id="{{items.topic}}" (click)="routeToTestCard(items)" class="hover-underline-animation">{{items.name}}</a>
  </div>
</div>


