<div class="container centerTheText">
  <h1> Tests</h1>
</div>
<div style="padding-bottom: 10vh;">
<div class="container" *ngFor="let items of testTest ">

      <div class="centerTheText spaceLeftSmall">

        <h1>{{items.name}}</h1>


        <ng-container *ngIf="items.downloaded; else notDownloaded">
          <img style="" src="assets/icons/svg/downloadDone.svg">
        </ng-container>


        <ng-template #notDownloaded>
          <img style="" src="assets/icons/svg/download.svg">
        </ng-template>
      </div>


      <div class="centerTheText">
        <p >{{items.completion}}%</p>
      </div>





  <div class="innerContainer" *ngFor="let exercises of items.exercises">
    <a [routerLink]="['/TestingScreen']" class="leftText" > {{exercises}}</a>
  </div>

</div>

</div>
