.title{
  text-align: center;
  color: white;
  font-size: xx-large;
}
h1 {
  color: white;
  margin-left: 5px;
  font-size: xx-large;
}
a{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  color: rgb(223, 222, 222);
  cursor: pointer;
  font-size: x-large;
}
.filter-white {
  filter: invert(97%) sepia(7%) saturate(18%) hue-rotate(127deg) brightness(113%) contrast(74%);
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.filter-white:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
}
@media (pointer: fine) {
  .title{
    text-align: center;
    color: white;
    font-size: xx-large;
  }
  .arrow {
    border: solid rgb(225, 225, 225);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  h1{
    color:white;
  }
  .center {
    margin-left: 25%;
    cursor: pointer;
  }
  .center-items {
    margin-left: 26%;
    color: rgb(223, 222, 222);
    cursor: pointer;
  }

  .edit {
    color: white;
    letter-spacing: 1px;
  }
  .edit:hover {
    letter-spacing: 1.25px;
  }
}

@media (pointer: none), (pointer: coarse) {
  .container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
  }
  .arrow {
    border: solid rgb(225, 225, 225);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .center {
    margin-left: 1%;
    cursor: pointer;
  }
  .center-items {
    margin-left: 2%;
    color: rgb(223, 222, 222);
    cursor: pointer;
  }
  .edit {
    color: white;
    letter-spacing: 1px;
  }
  .edit:hover {
    letter-spacing: 1.25px;
  }
}
