.title{
  text-align: center;
  color: white;
  font-size: xx-large;
}
h1 {
  color: white;
  margin-left: 5px;
  font-size: xx-large;
}
a{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  color: rgb(223, 222, 222);
  cursor: pointer;
  font-size: x-large;
}
