<div class="container">
  <form class="form" [formGroup]="markdownForm" (ngSubmit)="submitMarkdown()">
    <angular-editor [config]="config" formControlName="html" required></angular-editor>
    <label>Thema</label>
    <input type="text" formControlName="topic" id="topic" required/>
    <label>Titel</label>
    <input type="text" formControlName="name" id="name" required/>
    <button type="submit" class="hover-underline-animation" [disabled]="!markdownForm.valid">Speichern</button>
  </form>
</div>