@media (pointer: fine) {
  .title{
    text-align: center;
    color: white;
    font-size: xx-large;
  }
  .arrow {
    border: solid rgb(225, 225, 225);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  h1{
    color:white;
  }
  .center {
    margin-left: 25%;
    cursor: pointer;
  }
  .center-items {
    margin-left: 26%;
    color: rgb(223, 222, 222);
    cursor: pointer;
  }

  .edit {
    color: white;
    letter-spacing: 1px;
  }
  .edit:hover {
    letter-spacing: 1.25px;
  }
}

@media (pointer: none), (pointer: coarse) {
  .container{
    display: flex;
    flex-direction: column;
  }
  .title{
    text-align: center;
    color: white;
    font-size: xx-large;
  }
  .arrow {
    border: solid rgb(225, 225, 225);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  h1{
    color:white;
    font-size: xx-large;
  }
  .center {
    margin-left: 1%;
    cursor: pointer;
  }
  .center-items {
    margin-left: 2%;
    color: rgb(223, 222, 222);
    cursor: pointer;
  }
  a {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .edit {
    color: white;
    letter-spacing: 1px;
  }
  .edit:hover {
    letter-spacing: 1.25px;
  }
}