@media (pointer: fine) {
  .title{
    text-align: center;
    color: white;
    font-size: xx-large;
  }
  .arrow {
    border: solid rgb(225, 225, 225);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  h1{
    color:white;
  }
  .center {
    margin-left: 25%;
    cursor: pointer;
  }
  .center-items {
    margin-left: 26%;
    color:white;
    cursor: pointer;
  }
}

@media (pointer: none), (pointer: coarse) {
  h1{
    color:white;
  }
  .container{
    display: flex;
    margin-top: 5vh;
    flex-direction: row;
  }

  .innerContainer{
    display:flex;
    margin-left: 2vh ;
    margin-top: 1vh;
  }

  .txt-svg{
    z-index: -100;
    height: 40px;
    position:absolute;
    margin-left: 10px;
  }

  .topic{
    color:white;
    font-size: x-large;
    margin-left: 20px;
  }

  .centerTheText{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spaceLeftSmall{
    margin-left: 3.5vh;
  }

  .rightText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    right: 0;
  }

  .leftText {
    align-items: flex-start;
  }

  fa-icon{
    font-size: 3em;
  }

  .material-icons{
    padding-left: 1vh;
    padding-top: 0.5vh;
  }
  .arrow {
    border: solid rgb(225, 225, 225);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}