.button{
  cursor: pointer;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 2px solid darkgrey;
  border-radius: 10px;
}
*{

  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }

@media (any-pointer: coarse) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
  .navbar {
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
@media (any-pointer: fine) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
}

.navbar{

}
