<div class="navbar">
<a [routerLink]="['/']" style="text-decoration: none">Home</a>

  <a [routerLink]="['/Basics']" class="button desktop">
    <h1>
      <fa-icon [icon]="faBasics"></fa-icon>
      Basics
    </h1>
  </a>
  <a [routerLink]="['/Flashcard']" class="button">
    <h1>
     <img src="../../../assets/style_FILL0_wght400_GRAD0_opsz48.svg" alt="Coole Icons">
     Flashcards
    </h1>
  </a>


  <!-- Only Mobile-->
  <a [routerLink]="['/Test']" class="button mobile">
    <h1>
      Tests
    </h1>
  </a>


<!-- Only PC-->
  <a [routerLink]="['/NoCode']" class="button desktop">
    <h1>
      <fa-icon [icon]="faNoCode"></fa-icon>
      NoCode
    </h1>
  </a>
<!-- Only PC-->

<a [routerLink]="['/Account']" class="button desktop">
  <h1>
    <fa-icon [icon]="faUser"></fa-icon>
    Account
  </h1>
</a>

<a [routerLink]="['/Login']" class="button desktop">
  <h1>
    <fa-icon [icon]="faLogin"></fa-icon>
    Login
  </h1>
</a>


<a [routerLink]="['/Login']" class="button mobile">
  <h1>
    EXTRA MENU
  </h1>
</a>
</div>
