.button{
  cursor: pointer;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}
*{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }

.filter-white{
  filter: invert(100%) sepia(0%) saturate(11%) hue-rotate(274deg) brightness(104%) contrast(105%);
}

@media (pointer:none), (pointer:coarse) {
  .mobile {
    display: flex;
  }
  .desktop {
    position: absolute;
    right: -9999px;
    display:none;
  }

  .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #E2001A;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.25);
  }

  .button{
    margin-bottom: 10px;
    color: gray;
  }

  .material-icons{
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 1vh;
  }
}
@media  (pointer:fine) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
  .button{
    margin-bottom: 20px;
    color: gray;
    border-radius: 20px;
  }
  h1{
    color: gray;
    letter-spacing: 1px;
    font-family: 'Montserrat';
  }

  
}



