
<div class="container">
  <div>
    <div class="text-left">
      <h1 style="align-content: center" class="desktop">Willkommen {{  userData[0].name }},</h1>
      <h1 style="align-content: center" class="mobile">Willkommen {{ userData[0].name }}</h1>
      <h1 style="margin-left: 5vh" aria-label="Learn to code!" class="desktop">
        Learn how to code with&nbsp;<span class="typewriter"></span>
      </h1>
      <div style="max-width: 70%; margin-left: 5vh;">
        <a class="desktop highlight" style="color:white; font-size: larger; margin-top: 5vh; margin-bottom: 5vh;"><br>Was erwartet dich hier?<br><br></a>
        <a class="desktop" style="color:white; font-size: large;">Hier werden dir die absoluten Anfänge der Programmierung mit
          <a class="desktop highlight" style="color:white; font-size: large; margin-left: 3px;">JavaScript</a>,
          <a class="desktop highlight" style="color:white; font-size: large; margin-left: 3px;">Python</a> und
          <a class="desktop highlight" style="color:white; font-size: large; margin-left: 3px;">Java</a> beigebracht.<br>
        </a>
        <a class="desktop" style="color:white; font-size: larger;">In einfachen von einander getrennten Aufgaben werden dir die ersten Schritte zum Verstehen einer Programmiersprache gezeigt.</a>
      </div>
    </div>
    <div class="buttons">
      <!-- Add Routing -->
      <div class="fake-terminal" style="margin-top: 5vh;">
          <div style="display:flex; flex-direction:row;justify-content: space-between; margin-left: 2vh; margin-right: 2vh;"><p class="desktop top-list">/usr/etc/NoCode.js</p><p class="desktop top-list">_ ☐ X</p></div>
          <a [routerLink]="['/NoCode']" class="selectable">
              <div class="desktop" style="font-family: 'Courier New', Courier, monospace;color:#9caaae;margin-left:2vh;" [innerHTML]="'function goTo(url) {'+ '<br />' +'&emsp;if(url === `NoCode`) {'+ '<br />' +'&emsp;&emsp;let answer = prompt(`Möchtest du NoCode lernen? [J/N]`);'+ '<br />' +'&emsp;&emsp;if(answer === `J`) {'+ '<br />' +'&emsp;&emsp;&emsp;console.log(`Redirecting...`);'+ '<br />' +'&emsp;&emsp;} else if(answer === `N`) {'+ '<br />' +'&emsp;&emsp;&emsp;console.log(`Ok dann halt nicht :(`);'+ '<br />' +'&emsp;&emsp;}'+ '<br />' +'&emsp;}'+ '<br />' +'}'+ '<br />' +'goTo(`NoCode`);'"></div>
          </a>
      </div>

      <a [routerLink]="['/FlashcardMenu']">
        <p class="selectable mobile">
          Lerne ein paar Karten!
        </p>
      </a>

      <a [routerLink]="['/TestMenu']">
        <p class="selectable mobile">
         Du hast {{ userData[0].passedTests.length }} von {{testData}} Testaufgaben gelöst!
        </p>
      </a>

      <div class="css-list mobile">
        <p class="top-list">Neu hinzugefügte Kartensätze</p>
        <a [routerLink]="['/FlashcardMenu']">
          <p class="response list-element">{{ flashCardData[0].name }}</p>
        </a>
      </div>

      <div *ngIf="isOnline">
      <a [routerLink]="['/FlashcardCreator']">
        <p class="selectable mobile">
          Erstell ein paar Flashcards
        </p>
      </a>
    </div>

    </div>
  </div>
</div>
