@media (pointer:fine) {
  .mobile {
    display: none;
  }
}


@media (pointer:none), (pointer:coarse){
  .desktop {
    display: none;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }
}

.response{
  margin-top: 2vh;
  margin-left: 1vh;
  padding: 1vh;

}
.selectable{
  border-top: #444444 1px solid;
  border-bottom: #444444 1px solid;
  padding-bottom: 1vh;
  padding-top: 1vh;
  background-color: #fcfcfc;
  border-radius: 0.3vh;
}

h1{
  margin-bottom: 5vh;
}

p{
  margin-top: 2vh;
}




