@media (any-pointer: fine) {
  .mobile {
    display: none;
  }
}


@media (any-pointer: coarse) {
  .desktop {
    display: none;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-left: 2vh;
  }
}


h1{
  margin-bottom: 5vh;
}

p{
  margin-top: 2vh;
}
