/*.response{
  margin-top: 2vh;
  margin-left: 1vh;
  padding: 1vh;
}*/
p.selectable{
  padding-bottom: 1vh;
  padding-top: 1vh;
  border-radius: 40px;
  color: coral;
  border: 2px solid coral;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.25s ease;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
p.selectable:hover,
p.selectable:active,
p.selectable:focus{
  letter-spacing: 1.25px;
  color: white;
  background-color: coral;
}

h1{
  margin-bottom: 2.5vh;
  margin-top: 2.5vh;
  text-align: center;
  font-weight: 100;
  font-family: 'Montserrat';
}

p{
  margin-top: 10px;
  margin-left: auto;
  margin-left: auto;
  font-family: 'Montserrat';
}

a{
  font-family: 'Montserrat Light';
}

.css-list{
  margin-top: 10px;
  border-radius: 20px;
  background: linear-gradient(to bottom, coral calc(2.5vh + 10px), transparent calc(2.5vh + 10px));
  border: 2px solid #ff7f50;
  width: 82.5%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.25s ease;
  overflow: hidden;
}
.top-list{
  margin-top: 0px;
  margin: 0;
  text-align: center;
  color:white;
}
.list-element{
  margin-top: 2.5px;
  padding: 5px;
  letter-spacing: 1px;
  color:rgb(255, 127, 80);
  text-align: center;
}
.list-element:hover,
.list-element:active,
.list-element:focus{
  letter-spacing: 1.25px;
}

@media (pointer:fine) {
  .mobile {
    display: none;
  }
}

@media (pointer:none), (pointer:coarse){
  .desktop {
    display: none;
  }
  .container{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 5vh;
  }
  .css-list{
    width: 80%;
    background: linear-gradient(to bottom, coral 6.5vh, transparent 6.5vh);
  }
  .top-list{
    margin-bottom: 0px;
  }
}



