*{
  background: darkgrey;
  min-height: 100px;
}

@media (any-pointer: coarse) {
  .desktop {
    display: none;
  }
}
@media (any-pointer: fine) {
  .desktop {
    bottom: 0;
    position: fixed;
    width: 100%;
  }
}


