button {
    cursor: pointer;
    font-family: 'Montserrat'; 
    transition: all 0.25s ease; 
    color: #e2001a; 
    border: 2px solid #e2001a; 
    letter-spacing: 1px;
    width: 80%; 
    border-radius: 40px; 
    margin-left:auto; 
    margin-right:auto; 
    width: max-content;
    background-color: transparent;
    font-size: large;
    padding-bottom: 1vh;
    padding-top: 1vh;
}
button:hover,
button:active,
button:focus {
    letter-spacing: 1.25px;
    color: white;
    background-color: #e2001a;
}