.container {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  perspective: 10000px;
}



.flashcard {
  width: 80%;
  height: 70vh;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.flashcard.flipped {
  transform: rotateY(180deg);
}

.flashcard-face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #E2001A;
  font-family: 'Montserrat';
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: x-large;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.25);
}

@media (pointer:none), (pointer:coarse) {
  .flashcard-face {
    text-align: center;
    font-size: x-large;
  }
  .container{
    margin-top: 5vh;
  }
}

.flashcard-face--front {
  background-color: #282424;
  border-radius: 40px;
  border: 2px solid #E2001A;
}

.flashcard-face--back {
  background-color: #E2001A;
  color: white;
  border-radius: 40px;
  border: 2px solid #E2001A;
  transform: rotateY(180deg);
}
