<div class="container">
  <h1 class="title">Learn Code</h1>

  <div *ngIf="userData[0].isAdmin">
    <img [routerLink]="['/LearnCodeAdminMenu']" style="float: right; color:white;" src="assets/icons/svg/edit.svg" class="filter-white">
    <img [routerLink]="['/LearnCodeCreator']" style="float: right; color:white;" src="assets/icons/svg/add.svg" class="filter-white">
  </div>


  <div *ngFor="let items of MarkdownData; index as i">
    <div>
      <div
        class="center"
        *ngIf="i == 0 || items.topic != MarkdownData[i - 1].topic"
      >
        <h1 (click)="expandTopic(items.topic!)" (click)="toggleIconClass(icon)">
          {{ items.topic }}
          <i #icon [class.icon-class]="isActive" class="arrow icon"></i>
        </h1>
      </div>

      <div class="center-items">
        <a
          id="{{ items.topic }}"
          style="display: none; width: max-content;"
          class = "hover-underline-animation"
          (click)="routeToMarkdown(items)"
          >{{ items.name }}</a>
      </div>
    </div>
  </div>
</div>
