<form>
<h3>Question 1</h3>
<p>Welche dieser Variablen ist ein INT?</p>
<label>
  <input type="checkbox" name="answer0" value="0" />
  12
</label><br />
<label>
  <input type="checkbox" name="answer1" value="1" />
  44.4
</label><br />
<label>
  <input type="checkbox" name="answer2" value="2" />
"44"
</label><br />
<label>
  <input type="checkbox" name="answer3" value="3" />
  2147483649
</label><br/>
<h3>Question 2</h3>
<p>Definiere eine Zahl</p>
  <div style="display: flex; flex-direction: row"> <p>x = </p> <input type="text" name="answer2" />
  </div>
  <h3>Question 3</h3>
  <p>ein Int besteht aus einem Wort</p>
  <button type="button">Wahr</button>   <button type="button">Falsch</button>
<br/><br/>
  <button type="submit">Submit</button>
</form>

