.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
}

.Answer {
  /*margin-top: 30vh;*/
  display: flex;
  flex-direction: column;
  background: #262626;
  border-radius: 20px;
  padding: 10px;
  position: relative;
  box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.25)
}
.Answer p,
.Answer div {
  color:white;
  font-size: xx-large;
  text-align: center;
}
.TrueFalse {
  /*margin-top: 30vh;*/
  display: flex;
  flex-direction: column;
  background: #262626;
  border-radius: 20px;
  padding: 10px;
  position: relative;
  box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.25)
}
.TrueFalse p{
  color:white;
  font-size: xx-large;
  text-align: center;
}
.TrueFalse button.false{
  padding-bottom: 1vh;
  padding-top: 1vh;
  border-radius: 15px;
  color: #e2001a;
  border: 2px solid #e2001a;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  width: auto;
  margin-top: 20px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: large;
  background-color: transparent;
  transition: all 0.25s ease
}
.TrueFalse button.false:hover {
  color: #262626;
  background-color: #e2001a;
}
.TrueFalse button.true{
  padding-bottom: 1vh;
  padding-top: 1vh;
  border-radius: 15px;
  color: #00e24f;
  border: 2px solid #00e24f;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  width: auto;
  margin-top: 20px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: large;
  background-color: transparent;
  transition: all 0.25s ease
}
.TrueFalse button.true:hover {
  color: #262626;
  background-color: #00e24f;
}
.MultipleChoice {
  /*margin-top: 30vh;*/
  display: flex;
  flex-direction: column;
  background: #262626;
  border-radius: 20px;
  padding: 10px;
  position: relative;
  box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.25)
}
.MultipleChoice p{
  color:white;
  font-size: xx-large;
  text-align: center;
  margin-bottom: 10px;
}
.MultipleChoice div.Choice{
  color:rgb(223, 222, 222);
  align-items: center;
  font-size: x-large;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.MultipleChoice button {
  padding-bottom: 1vh;
  padding-top: 1vh;
  border-radius: 15px;
  color: rgb(223, 222, 222);
  border: 2px solid rgb(223, 222, 222);
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  width: auto;
  margin-top: 20px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: large;
  background-color: transparent;
  transition: all 0.25s ease
}
.MultipleChoice button:hover {
  color: #262626;
  background-color: rgb(223, 222, 222);
}
.Blank {
  /*margin-top: 30vh;*/
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: #262626;
  padding: 10px;
  position: relative;
  box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.25)
}
.Blank p{
  color:white;
  font-size: xx-large;
  text-align: center;
  margin-bottom: 10px;
}
.Blank input {
  padding-bottom: 1vh;
  padding-top: 1vh;
  border-radius: 15px;
  color: rgb(223, 222, 222);
  border: 2px solid rgb(223, 222, 222);
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: large;
  background-color: transparent;
}
.Blank input:focus {
  outline: none;
}
.Blank button {
  padding-bottom: 1vh;
  padding-top: 1vh;
  border-radius: 15px;
  color: rgb(223, 222, 222);
  border: 2px solid rgb(223, 222, 222);
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  width: auto;
  margin-top: 20px;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: large;
  background-color: transparent;
  transition: all 0.25s ease
}
.Blank button:hover {
  color: #262626;
  background-color: rgb(223, 222, 222);
}
.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  background-color: transparent;
  border: 2px solid rgb(223, 222, 222);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 6px;
  left: 8px;
  width: 6px;
  height: 14px;
  border: solid rgb(223, 222, 222);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}