<div *ngIf="!showSubmitScreen">
  <form [formGroup]="checkoutForm" (ngSubmit)="submitTest()">


    <div *ngIf="testData.questionType ==1">
      <p>{{testData.questionText}}</p>
      <div *ngFor="let option of answerTable index as i">
        <input type="checkbox" [value]="option" (change)="onCheckboxChange($event)">
        {{option}}
        <br>
      </div>
      <button type="submit">Submit</button>
    </div>


    <div *ngIf="testData.questionType ==2 ">
      <p>{{testData.questionText}}</p>
      <div style="display: flex; flex-direction: row">
        <input type="text" formControlName="answer" id="answer"/>
      </div>
      <button type="submit">Submit</button>
    </div>

    <div *ngIf="testData.questionType == 3">
      <p>{{testData.questionText}}</p>
      <button type="button">Wahr</button>
      <button type="button">Falsch</button>
      <br/><br/>
    </div>
  </form>
</div>


<div *ngIf="showSubmitScreen">
  <div *ngIf="showMistakeScreen">
    the right Answers would be
    <div *ngFor="let items of testData.answerRight">
      <p>{{items}}</p>
    </div>
  </div>

  <div *ngIf="!showMistakeScreen">
    <p>Your Answer is Correct</p>
  </div>

</div>
