<head>
  <link href="/src/css/ft-syntax-highlight.css" rel="stylesheet" />
</head>
<div class="container">
  <form class="form" [formGroup]="markdownForm" (ngSubmit)="submitMarkdown()">


    <angular-editor [config]="config" formControlName="html" required></angular-editor>


    <div>

      <div style="display: flex;margin-top: 10px;flex-direction: column;flex-wrap: wrap;align-content: space-around;">
        <input type="text" formControlName="topic" id="topic" placeholder="Thema" required/>
        <input type="text" formControlName="name" id="name" placeholder="Titel" required/>
        <button type="submit" class="send" [disabled]="!markdownForm.valid">Speichern</button>
      </div>


    <div>
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="testType" value="option1" (change)="inputTest.questionType = 1;resetSizes()" checked>
        True / False
      </label>
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="testType" value="option2" (change)="inputTest.questionType = 2;resetSizes()">
        Multiple Choise
      </label>
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="testType" value="option3" (change)="inputTest.questionType = 3;resetSizes()">
          Text Abfrage
      </label>
    </div>



      <div *ngIf="inputTest.questionType == 1" class="TrueFalse">
        <label class="form-check-label">
          <input class="form-check-input2" type="radio" name="correctInput" value="option2" (change)="changeBooleanTestType(true)">
          True
        </label>
        <label class="form-check-label">
          <input class="form-check-input2" type="radio" name="correctInput" value="option3" (change)="changeBooleanTestType(false)">
          False
        </label>
      </div>



      <div *ngIf="inputTest.questionType == 2"  class="MultipleChoise">
        <div *ngFor="let i of inputSizeCorrect">
        <input type="text" formControlName="correctMultipleChoiceInput" id="correctMultipleChoiceInput" placeholder="Richtige Antwort" required/>
        </div>
        <img (click)="increaseInputSize(inputSizeCorrect)" style="float: right; color:white;" src="assets/icons/svg/add.svg" class="filter-white">
        <div *ngFor="let i of inputSizeWrong">
          <input type="text" formControlName="wrongMultipleChoiceInput" id="wrongMultipleChoiceInput" placeholder="Falsche Antwort" required/>
        </div>
        <img (click)="increaseInputSize(inputSizeWrong)" style="float: right; color:white;" src="assets/icons/svg/add.svg" class="filter-white">
      </div>


      <div *ngIf="inputTest.questionType == 3"  class="TextAbfrage">
        <div *ngFor="let i of inputSizeCorrect">
          <input type="text" formControlName="correctInput" id="correctInput" placeholder="Richtige Antwort" required/>
        </div>
        <img (click)="increaseInputSize(inputSizeCorrect)" style="float: right; color:white;" src="assets/icons/svg/add.svg" class="filter-white">
      </div>
    </div>

</form>



</div>

