@import '../node_modules/font-awesome/css/font-awesome.css';

* {
  margin: 0;
}

@media (any-pointer: coarse) {
  .container {
    display: flex;
    justify-content: center;
  }
  .desktop {
    display: none;
  }
  body {
    background-color: #262626;
  }
  .angular-editor-wrapper {
    height: 60% !important;
  }
}

@media (any-pointer: fine) {
  .mobile {
    display: none;
  }
  body {
    background-color: #262626;
  }
  .angular-editor-wrapper {
    height: 80% !important;
  }
}

.filler {
  flex-grow: 1;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: rgb(255, 255, 255);
}
.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #272022;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #403538;
}

@font-face {
  font-family: "Montserrat Light";
  src: url("./assets/fonts/montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("./assets/fonts/montserrat/Montserrat-Bold.ttf");
}

a {
  font-size: 2.5vh;
  text-decoration: none;
}

h1 {
  font-size: 3vh;
  font-weight: 100;
}

.material-icons.medium {
  font-size: 1vh;
}
.material-icons.large {
  font-size: 2vh;
}
.material-icons.x-large {
  font-size: 4vh;
}

body {
  margin: 0;
  font-family: "Montserrat";
}

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #e2001a 50%);
}

h1 {
  color:white;
}

.angular-editor {
  overflow: hidden !important;
}

.angular-editor .angular-editor-toolbar {
  background-color: #262626 !important;
  border: none !important;
}

.angular-editor .angular-editor-toolbar button {
  background-color: #1B1D1C !important;
  color: white !important;
  border: none !important;
  border-radius: 20px;
  height: 30px;
  margin-right: 2.5px;
}

.angular-editor .angular-editor-toolbar i::after {
  background-color: white !important;
}

.ae-font .ae-picker-options {
  background-color: transparent !important;
  padding-top: 3px !important;
  border: none !important;
  box-shadow: none !important;
}

.ae-font .ae-picker-options .ae-picker-item {
  margin-top: 2px !important; 
}

.angular-editor .angular-editor-toolbar button:hover {
  background-color: #363636 !important;
}

angular-editor:not(#flashcardEditor) .angular-editor {
  background-color: #262626;
  height: 70% !important;
}

.angular-editor {
  background-color: #262626;
}

angular-editor:not(#flashcardEditor) .angular-editor-textarea {
  margin-top: 0px !important;
  border: solid #1B1D1C !important;
  border-radius: 10px !important;
  resize: none !important;
  height: 100% !important;
}

#flashcardEditor .angular-editor-textarea {
  margin-top: 0px !important;
  border: solid #1B1D1C !important;
  border-radius: 10px !important;
  resize: none !important;
}

.angular-editor-textarea:after {
  background: none !important;
}

.angular-editor-wrapper #sourceText {
  background: none !important;
}

.ae-font .ae-picker-label:before {
  background: none !important;
}

p {
  font-size: 2.5vh;
  margin-left: 10px;
  color: rgb(223, 222, 222);
}

a {
  color:white;
}

small {
  color: rgb(183, 181, 181);
  font-style: italic;
  margin-left: 10px;
}

.small {
  color: rgb(183, 181, 181);
  font-style: italic;
  margin-left: 10px;
}

u {
  color: rgb(183, 181, 181);
  font-style: italic;
  margin-left: 10px;
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
