<h1 (click)="reduceText(0)" style="cursor: pointer">Was ist no Code?</h1>
<span *ngIf="isTextVisible[0]">
<p>wie der Name schon sagt wird keine bzw. kaum tatsächlicher Code in einer Programmiersprache geschrieben.</p>
<p>Die Programmierung erfolgt vielmehr über eine grafische Benutzeroberfläche, oft in einer Art Blockstil, bei der Drag n‘ Drop Artig Bausteine eingesetzt werden. </p><br>
<img src="assets/studienArbeit/NoCodeExample.png">
</span>
<h1 (click)="reduceText(1)" style="cursor:pointer">Das erste Projekt</h1>
<span *ngIf="isTextVisible[1]">
<p>Für das Folgende Projekt wurde auf der Webseite </p> <a>https://arcade.makecode.com/</a> <p> erstellt</p>
</span>
