
@media (pointer:fine) {
  .mobile {
    display: none;
  }
  .title{
    text-align: center;
    color: white;
    font-size: xx-large;
    font-family: "Montserrat";
  }
  input{
    background-color: #262626;
    border: solid 2px #e2001a;
    border-radius: 40px; 
    font-family: "Montserrat";
    color:#e2001a;
    padding: 10px;
  }
  input:focus,
  input:active,
  input:hover{
    outline: none;
    background-color: #e2001a;
    color: white;
  }
  input::placeholder {
    color: white;
    opacity: 0.5;
  }
}

@media (pointer:none), (pointer:coarse){
  .desktop {
    display: none;
  }
  .title{
    text-align: center;
    color: white;
    font-size: large;
  }
  input{
    background-color: #262626;
    border: solid 2px #e2001a;
    border-radius: 40px; 
    font-family: "Montserrat";
    color:#e2001a;
    padding: 10px;
  }
  input:focus,
  input:active,
  input:hover{
    outline: none;
    background-color: #e2001a;
    color: white;
  }
  input::placeholder {
    color: white;
    opacity: 0.5;
  }
}
.formContainer{
  padding: 20px;
  align-items: center;
  align-content: center;
}
.form{
  padding-bottom: 1vh;
}
.button{
  cursor: pointer;
  font-family: 'Montserrat'; 
  transition: all 0.25s ease; 
  color: #e2001a; 
  border: 2px solid #e2001a; 
  letter-spacing: 1px;
  width: 80%; 
  border-radius: 40px; 
  margin-left:auto; 
  margin-right:auto; 
  width: max-content;
  background-color: transparent;
  font-size: large;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
.button:hover,
.button:active,
.button:focus {
    letter-spacing: 1.25px;
    color: white;
    background-color: #e2001a;
}
