<div style="display: flex; justify-content:center; margin-top: 5%;">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <div class="container center-screen">
      <div class="loginContainer">
        <div *ngIf=" userData[0].name =='Gast'">
         <div class="title" style="color:white;">Login</div>
           <div class="formContainer">
             <div class="form">
            <input class="input" id="email" type="text" formControlName="email" placeholder="email">
             </div>
          <div class="form">
            <input class="input" id="password" type="password" formControlName="password" placeholder="password">
          </div>
          <div style="display:flex; flex-direction: column; text-align:center; justify-content:center;"><button class="button" type="submit">Login</button></div>
           </div>
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="userData[0]['name'] !=='Gast'" >
    <div class="title" style="color:white;">Welcome {{userData[0].name}}</div>
    <div style="display:flex; flex-direction: column; text-align:center; justify-content:center;"><button class="button" (click)="logout()">Logout</button></div>
  </div>
</div>




