<div class="login-round">
  <div style="display: flex; justify-content:center;">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <div class="container center-screen">
        <div class="loginContainer">
          <div *ngIf=" userData[0].name =='Gast'">
          <div class="title" style="color:white;">Login</div>
            <div class="formContainer">
              <div class="form">
              <input class="input" id="email" type="text" formControlName="email" placeholder="email">
              </div>
            <div class="form">
              <input class="input" id="password" type="password" formControlName="password" name="password" placeholder="password">
            </div>
            <div style="display:flex; flex-direction: column; text-align:center; justify-content:center;"><button class="button" type="submit">Login</button></div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div *ngIf="userData[0]['name'] !=='Gast'" >
      <div class="title" style="color:white;">Willkommen {{userData[0].name}}</div>
      <div style="display:flex; flex-direction: column; text-align:center; justify-content:center;"><button class="button" (click)="logout()">Logout</button></div>
    </div>
  </div>
  <div style="display:flex; flex-direction: column; text-align:center; justify-content:center; color:white;">Du bist nun als {{userData[0].name}} eingeloggt<br>
    {{userData[0].email}}<br>
  Du hast {{userData[0].passedTests.length}} Tests von {{this.testData}} bearbeitet<br>

    <div *ngIf="isAdmin">
      Du bist ein Administrator<br>
    </div>
    <div *ngIf="!userCreationEnabled; else userCreation">
      <button class="button" (click)="userCreationEnabled = true"> Neuen Nutzer Erstellen</button>
    </div>
  </div>
  <ng-template #userCreation class="container">
    <form class="form" [formGroup]="newUserForm" (ngSubmit)="createNewUser()" style="display: flex;flex-direction: column;flex-wrap: wrap;align-content: center;">
      <input class="form-control" formControlName="name" name="name" type="text" placeholder="username" style="margin-bottom: 1vh;">
      <input class="form-control" formControlName="email" name="email" type="text" placeholder="email" style="margin-bottom: 1vh;">
      <input class="form-control" formControlName="password" name="email" type="text" placeholder="password 6 zeichen mindestens" style="margin-bottom: 1vh;">
      <div *ngIf="isAdmin" class="form-group">
        <input id="IsThisAnAdmin" class="form-check-input2" formControlName="isAdmin" name="isAdmin" type="checkbox" value=false>
        <label for="IsThisAnAdmin">Soll der Nutzer Admin sein?</label>
      </div>
      <button type="submit" class="send" >Erstellen</button>
    </form>
  </ng-template>
</div>




