<div style="display:flex; flex-direction: column; text-align:center; justify-content:center; color:white;">Du bist nun als {{userData[0].name}} eingeloggt<br>
  {{userData[0].email}}<br>


  <div *ngIf="isAdmin">
    Du bist ein Administrator<br>
  </div>

  <div *ngIf="!userCreationEnabled; else userCreation">
    <button class="button" (click)="userCreationEnabled = true"> Neuen Nutzer Erstellen</button>
  </div>

  <ng-template #userCreation class="container">
    <form class="form" [formGroup]="newUserForm" (ngSubmit)="createNewUser()">

      username
      <input class="form-control" formControlName="name" name="name" type="text" placeholder="username">
      email
      <input class="form-control" formControlName="email" name="email" type="text" placeholder="email">

      <div *ngIf="isAdmin">
        Is this an Admin?
        <input class="form-check-input2" formControlName="isAdmin" name="isAdmin" type="checkbox" value=false>
      </div>
      <button type="submit" class="send" >Erstellen</button>
    </form>
  </ng-template>
</div>


<div style="display: flex; justify-content:center; margin-top: 5%;">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <div class="container center-screen">
      <div class="loginContainer">
        <div *ngIf=" userData[0].name =='Gast'">
         <div class="title" style="color:white;">Login</div>
           <div class="formContainer">
             <div class="form">
            <input class="input" id="email" type="text" formControlName="email" placeholder="email">
             </div>
          <div class="form">
            <input class="input" id="password" type="password" formControlName="password" placeholder="password">
          </div>
          <div style="display:flex; flex-direction: column; text-align:center; justify-content:center;"><button class="button" type="submit">Login</button></div>
           </div>
        </div>
      </div>
    </div>
  </form>
  <div class="center-screen loginContainer" *ngIf="userData[0]['name'] !=='Gast'" >
    <div class="title" style="color:white;">Willkommen {{userData[0].name}}</div>
    <br>
    <div style="display:flex; flex-direction: column; text-align:center; justify-content:center;"><button class="button" (click)="logout()">Logout</button></div>
  </div>
</div>




