<div class="title">
  <h1>Tests</h1>
</div>
<div *ngFor="let items of testCardData ;index as i;">

  <div>
    <div class="center" *ngIf=" i== 0 ||  items.topic != testCardData[i-1].topic">
      <h1>{{items.topic}}</h1>
    </div>
    <div id="{{items.topic}}">
      <div class="items center-items">
        <a (click)="routeToTestCard(items)" class="hover-underline-animation">{{items.name}}  <img src="assets/icons/svg/edit.svg" class="filter-white"></a>
        <a (click)="deleteFlashcard(items.id)" class="delete">DELETE</a>
      </div>
    </div>
  </div>
</div>


